body { 
   background-color: #222;
   color: #eee; 
   font-family: "Roboto Mono", monospace; 
}

.big-purple { 
   color: #CB52D0; 
   font-weight: 700; 
}

.navbar { 
   max-width: 1000px;
   margin: auto;
   padding: 10px;
   border-bottom: solid #333 2px;
   margin-bottom: 10px;
   display: flex;
   justify-content: space-around;
}

.navbar a { 
   color: #aaa;
   text-decoration: none;   
}

.navbar a:hover { 
   color: #eee;
}

.about-container {
  background-color: #222;
  margin: auto; 
  max-width: 800px; 
   padding: 50px;
  padding-bottom: 100px;
  overflow:auto;
}

.about-title {
  background: url(img/source.gif) repeat center 950px;
  background-size: 500px 500px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  padding-top: 5%;
  font-size: 3em;
  margin: 2%;
}

.about-text {
  text-align: left;  
  color: #eee;
}

.big {   
   font-size: 4em; 
   margin: 100px auto;
   max-width: 801px;
   padding:10px;
   font-family: "Lora", serif; 
   margin-left: auto;
   margin-right: auto;
}

.title {
   font-size: 1em; 
   margin: auto;
   text-align: center;
   font-weight: 400;
   position: relative;
   margin: 0 auto;
   padding-top: 1%;
   padding-bottom: 10px;
   animation: title-animation 20.0s infinite;
}

.logo { 
   height: 1.3em;
   margin-bottom: -5px;
}

.link-no-underline {
  text-decoration: none;
}

.projects { 
   padding: 10px; 
}

.project-container {
   padding: 10px; 
   padding-bottom: 20px;
   display: grid; 
   grid-column: span 1; 
}

.project-link-img {
  animation: darken 0.5s forwards;
  border-radius:3%;
  margin-bottom: 10px;
  background-size:cover;
  background-repeat:no-repeat;
  width: 100%;
  min-height: 250px;
}

.project-link-img:hover {
  animation: lighten 0.2s forwards;
}

.project-title {
  font-family: "Roboto Mono", monospace;
  margin-top: 10px;
  padding:3px;
  margin:4px;
}

.project-description {
  font-family: "Roboto Mono", monospace;
  font-size: 0.8em;
  color: #AAAAAA;
  padding-top:5px;
  padding-left:6px;
  margin:2px;
  display:block;
}

.vspace {
  height:10px;
  width:100%;
}

@media (min-width: 500px) { 
   .projects { 
      display: grid; 
      grid-template-columns: 1fr 1fr; 
   }
} 

@media (min-width: 1000px) { 
   .projects { 
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr; 
   }
   .project-link-img{ 
      min-height: 300px;
   }
}

/* COVER IMAGES */ 
#musicfind-img { 
   background-image: url(img/musicfind.png); 
}

#lantern-village-img { 
   background-image: url(img/four_lanterns.jpg); 
}

#planetary-motion-img { 
   background-image: url(img/planetary-motion.png); 
}

#dancing-scilis-img { 
   background-image: url(img/dancing-scilis.png);
}

#schroeder-house-img { 
   background-image: url(img/shroeder-house.png);
}


/* Animations */ 

@keyframes lighten {
  from {filter: brightness(100%); opacity: 0.9;}
  to {filter: brightness(120%); opacity: 1.0;}
}

@keyframes darken {
  from {filter: brightness(120%); opacity: 1.0;}
  to {filter: brightness(100%); opacity: 0.9;}
}

@keyframes title-animation {
  0% {color: white;}
  50% {color: rgb(73, 173, 255);}
  100% {color: white;}
}

.glitch{
   position: relative; 
   font-family: 'Comfortaa', cursive;
}

.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color: #eee;
  background:#222;
  overflow:hidden;
  clip:rect(0,9999px,0,0); 
  animation:glitch-anim 2s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(70px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(29px, 9999px, 16px, 0);
  }
  40% {
    clip: rect(76px, 9999px, 3px, 0);
  }
  60% {
    clip: rect(42px, 9999px, 78px, 0);
  }
  80% {
    clip: rect(15px, 9999px, 13px, 0);
  }
  100% {
    clip: rect(53px, 9999px, 5px, 0);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(70px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(random(100)+px, 9999px, 16px, 0);
  }
  40% {
    clip: rect(random(100)+px, 9999px, 3px, 0);
  }
  60% {
    clip: rect(random(100)+px, 9999px, 78px, 0);
  }
  80% {
    clip: rect(random(100)+px, 9999px, 13px, 0);
  }
  100% {
    clip: rect(53px, 9999px, 5px, 0);
  }
}

.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:#eee;
  background:#222;
  overflow:hidden;
  clip:rect(0,9999px,0,0); 
  animation:glitch-anim2 3s infinite linear alternate-reverse;
}
