body { 
   background-color: #222;
   color: #eee; 
   font-family: "Roboto Mono", monospace; 
}

@keyframes title-animation {
  0% {color: white;}
  50% {color: rgb(73, 173, 255);}
  100% {color: white;}
}

.title {
   font-size: 1em; 
   margin: auto;
   text-align: center;
   font-weight: 400;
   position: relative;
   margin: 0 auto;
   padding-top: 1%;
   animation: title-animation 20.0s infinite;
}

.logo { 
   height: 1.3em;
   margin-bottom: -5px;
}

.big {   
   font-size: 4em; 
   margin: 100px auto;
   max-width: 801px;
   padding:10px;
   font-family: "Lora", serif; 
   margin-left: auto;
   margin-right: auto;
}

.glitch{
   position: relative; 
   font-family: 'Comfortaa', cursive;
}

.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 red;
  top:0;
  color: #eee;
  background:#222;
  overflow:hidden;
  clip:rect(0,9999px,0,0); 
  animation:glitch-anim 2s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(70px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(29px, 9999px, 16px, 0);
  }
  40% {
    clip: rect(76px, 9999px, 3px, 0);
  }
  60% {
    clip: rect(42px, 9999px, 78px, 0);
  }
  80% {
    clip: rect(15px, 9999px, 13px, 0);
  }
  100% {
    clip: rect(53px, 9999px, 5px, 0);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(70px, 9999px, 76px, 0);
  }
  20% {
    clip: rect(random(100)+px, 9999px, 16px, 0);
  }
  40% {
    clip: rect(random(100)+px, 9999px, 3px, 0);
  }
  60% {
    clip: rect(random(100)+px, 9999px, 78px, 0);
  }
  80% {
    clip: rect(random(100)+px, 9999px, 13px, 0);
  }
  100% {
    clip: rect(53px, 9999px, 5px, 0);
  }
}

.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 blue; 
  top:0;
  color:#eee;
  background:#222;
  overflow:hidden;
  clip:rect(0,9999px,0,0); 
  animation:glitch-anim2 3s infinite linear alternate-reverse;
}

.link-no-underline {
  text-decoration: none;
}

.project-button-container {
  float:left;
  width:31.7%;
  padding:0.4%;
  margin:0.4%;
}

@keyframes lighten {
  from {filter: brightness(100%); opacity: 0.9;}
  to {filter: brightness(120%); opacity: 1.0;}
}

@keyframes darken {
  from {filter: brightness(120%); opacity: 1.0;}
  to {filter: brightness(100%); opacity: 0.9;}
}

.project-link-img {
  animation: darken 0.5s forwards;
  border-radius:3%;
  width:100%;
  height:auto;
}

.project-link-img:hover {
  animation: lighten 0.5s forwards;
}

project-title {
  font-family: "Roboto Mono", monospace;
  padding:3px;
  margin:4px;
}

project-description {
  font-family: "Roboto Mono", monospace;
  font-size: 10px;
  padding-top:5px;
  padding-left:6px;
  margin:2px;
  display:block;
}

.vspace {
  height:10px;
  width:100%;
}

.about-container {
  background-color: rgb(233, 233, 255);
  margin-left: -10px;
  margin-right: -10px;
  overflow:auto;
}

.about-title {
  background: url(img/source.gif) repeat center 950px;
	background-size: 500px 500px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-align: center;
  padding-top: 5%;
  font-size: 600%;
  margin: 2%;
}

.about-text {
  width: 58%;
  text-align: center;
  padding-left: 21%;
  margin-bottom: 10%;
  color: rgb(17, 17, 17);
}